<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74262005880-m51hfv3qan6rv9gcc15ah9pfv1kbufin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74262005880-m51hfv3qan6rv9gcc15ah9pfv1kbufin</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74262005880-n7rqifitp3mo5id2aro44bvavivg3g5a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDXOL154byvpzF81SI4uTkM_Pp0-Gqcwo</string>
	<key>GCM_SENDER_ID</key>
	<string>74262005880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixamtech.stackfoodUserApp</string>
	<key>PROJECT_ID</key>
	<string>teenuserapp</string>
	<key>STORAGE_BUCKET</key>
	<string>teenuserapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74262005880:ios:f0fbcf86b58a1e21c5458d</string>
</dict>
</plist>